In [1]:
using DataFrames, CSV
csvstring(df) = String(take!(CSV.write(IOBuffer(), df)))
csv2df(str) = CSV.read(IOBuffer(str), DataFrame)

csv2df (generic function with 1 method)

In [2]:
using Random
Random.seed!(4649373)

TaskLocalRNG()

In [3]:
data = round.(10randn(7, 5), digits=2)
names = string.('a':'e')
df = DataFrame(data, names)

7×5 DataFrame
 Row │ a        b        c        d        e
     │ Float64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────
   1 │   -5.91    19.26    19.44     1.03     1.85
   2 │   -3.67   -10.33     1.57   -17.67    -0.47
   3 │    6.72     8.81    -3.87   -11.0     -0.56
   4 │   -6.2     10.66    11.52     6.19    -7.78
   5 │   -8.64    -1.6      9.28    -1.8      3.72
   6 │   -1.01   -17.56     7.02     1.08    18.56
   7 │  -20.48    -9.66     5.31   -17.65    11.51

In [4]:
str = csvstring(df)

"a,b,c,d,e\n-5.91,19.26,19.44,1.03,1.85\n-3.67,-10.33,1.57,-17.67,-0.47\n6.72,8.81,-3.87,-11.0,-0.56\n-6.2,10.66,11.52,6.19,-7.78\n-8.64,-1.6,9.28,-1.8,3.72\n-1.01,-17.56,7.02,1.08,18.56\n-20.48,-9.66,5.31,-17.65,11.51\n"

In [5]:
df1 = csv2df(str)

7×5 DataFrame
 Row │ a        b        c        d        e
     │ Float64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────
   1 │   -5.91    19.26    19.44     1.03     1.85
   2 │   -3.67   -10.33     1.57   -17.67    -0.47
   3 │    6.72     8.81    -3.87   -11.0     -0.56
   4 │   -6.2     10.66    11.52     6.19    -7.78
   5 │   -8.64    -1.6      9.28    -1.8      3.72
   6 │   -1.01   -17.56     7.02     1.08    18.56
   7 │  -20.48    -9.66     5.31   -17.65    11.51

In [6]:
df1 == df

true

In [7]:
print(str)

a,b,c,d,e
-5.91,19.26,19.44,1.03,1.85
-3.67,-10.33,1.57,-17.67,-0.47
6.72,8.81,-3.87,-11.0,-0.56
-6.2,10.66,11.52,6.19,-7.78
-8.64,-1.6,9.28,-1.8,3.72
-1.01,-17.56,7.02,1.08,18.56
-20.48,-9.66,5.31,-17.65,11.51

In [8]:
# copy and paste the above

df2 = csv2df("""
a,b,c,d,e
-5.91,19.26,19.44,1.03,1.85
-3.67,-10.33,1.57,-17.67,-0.47
6.72,8.81,-3.87,-11.0,-0.56
-6.2,10.66,11.52,6.19,-7.78
-8.64,-1.6,9.28,-1.8,3.72
-1.01,-17.56,7.02,1.08,18.56
-20.48,-9.66,5.31,-17.65,11.51
""")

7×5 DataFrame
 Row │ a        b        c        d        e
     │ Float64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────
   1 │   -5.91    19.26    19.44     1.03     1.85
   2 │   -3.67   -10.33     1.57   -17.67    -0.47
   3 │    6.72     8.81    -3.87   -11.0     -0.56
   4 │   -6.2     10.66    11.52     6.19    -7.78
   5 │   -8.64    -1.6      9.28    -1.8      3.72
   6 │   -1.01   -17.56     7.02     1.08    18.56
   7 │  -20.48    -9.66     5.31   -17.65    11.51

In [9]:
df2 == df

true