In [1]:
using DataFrames, CSV
csvstring(df) = String(take!(CSV.write(IOBuffer(), df)))
csv2df(str) = CSV.read(IOBuffer(str), DataFrame)

csv2df (generic function with 1 method)

In [2]:
data = round.(10randn(7, 5), digits=2)
names = string.('a':'e')
df = DataFrame(data, names)

7×5 DataFrame
 Row │ a        b        c        d        e
     │ Float64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────
   1 │   14.87    19.55    -3.69     9.27    13.0
   2 │   -6.41    13.52     2.88     8.77    -2.42
   3 │   -3.76     0.63    -1.85    -2.12     4.46
   4 │    5.79     3.47     3.1     -4.61     5.73
   5 │   14.4     -0.96     0.23    23.5     -4.79
   6 │    6.34    -9.84     2.28     9.66   -20.37
   7 │  -11.98    -9.28    -0.59     9.18   -12.52

In [3]:
str = csvstring(df)

"a,b,c,d,e\n14.87,19.55,-3.69,9.27,13.0\n-6.41,13.52,2.88,8.77,-2.42\n-3.76,0.63,-1.85,-2.12,4.46\n5.79,3.47,3.1,-4.61,5.73\n14.4,-0.96,0.23,23.5,-4.79\n6.34,-9.84,2.28,9.66,-20.37\n-11.98,-9.28,-0.59,9.18,-12.52\n"

In [4]:
df1 = csv2df(str)

7×5 DataFrame
 Row │ a        b        c        d        e
     │ Float64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────
   1 │   14.87    19.55    -3.69     9.27    13.0
   2 │   -6.41    13.52     2.88     8.77    -2.42
   3 │   -3.76     0.63    -1.85    -2.12     4.46
   4 │    5.79     3.47     3.1     -4.61     5.73
   5 │   14.4     -0.96     0.23    23.5     -4.79
   6 │    6.34    -9.84     2.28     9.66   -20.37
   7 │  -11.98    -9.28    -0.59     9.18   -12.52

In [5]:
df1 == df

true

In [6]:
print(str)

a,b,c,d,e
14.87,19.55,-3.69,9.27,13.0
-6.41,13.52,2.88,8.77,-2.42
-3.76,0.63,-1.85,-2.12,4.46
5.79,3.47,3.1,-4.61,5.73
14.4,-0.96,0.23,23.5,-4.79
6.34,-9.84,2.28,9.66,-20.37
-11.98,-9.28,-0.59,9.18,-12.52

In [7]:
# copy and paste the above

df2 = csv2df("""
a,b,c,d,e
-8.06,-17.51,-3.55,-2.31,-10.52
5.47,-3.17,-16.43,-9.26,-3.25
-0.39,-7.39,-11.55,5.53,-1.24
11.59,1.36,-9.81,0.15,23.74
-3.41,11.27,-0.65,4.88,-10.86
-2.4,9.17,-6.35,14.36,2.94
14.98,-8.69,-6.85,1.23,-14.48
""")

7×5 DataFrame
 Row │ a        b        c        d        e
     │ Float64  Float64  Float64  Float64  Float64
─────┼─────────────────────────────────────────────
   1 │   -8.06   -17.51    -3.55    -2.31   -10.52
   2 │    5.47    -3.17   -16.43    -9.26    -3.25
   3 │   -0.39    -7.39   -11.55     5.53    -1.24
   4 │   11.59     1.36    -9.81     0.15    23.74
   5 │   -3.41    11.27    -0.65     4.88   -10.86
   6 │   -2.4      9.17    -6.35    14.36     2.94
   7 │   14.98    -8.69    -6.85     1.23   -14.48

In [8]:
df2 == df

false