In [1]:
function f(x)
    (; a, b, c, d) = x
    @show a b c d
end

f (generic function with 1 method)

In [2]:
a = 1
b = 2.0
c = "three"
d = 0x04

nt = (; a, b, c, d)
@show nt;

nt = (a = 1, b = 2.0, c = "three", d = 0x04)

In [3]:
f(nt);

a = 1
b = 2.0
c = "three"
d = 0x04

In [4]:
function f(x)
    (; a, b, c, d) = x
    @show a b c d
end

f (generic function with 1 method)

In [5]:
Base.@kwdef struct Foo{A, B, C, D}
    a::A = 1
    b::B = 2.0
    c::C = "three"
    d::D = 0x04
end

foo = Foo()
@show foo;

foo = Foo{Int64, Float64, String, UInt8}(1, 2.0, "three", 0x04)

In [6]:
f(foo);

a = 1
b = 2.0
c = "three"
d = 0x04

In [7]:
function f(x)
    (; a, b, c, d) = x
    @show a b c d
end

f (generic function with 1 method)

In [8]:
using DataFrames

a = collect(1:5)
b = collect(1.0:5.0)
c = ["one", "two", "three", "four", "five"]
d = collect(0x01:0x05)

df = DataFrame(; a, b, c, d)

5×4 DataFrame
 Row │ a      b        c       d
     │ Int64  Float64  String  UInt8
─────┼───────────────────────────────
   1 │     1      1.0  one         1
   2 │     2      2.0  two         2
   3 │     3      3.0  three       3
   4 │     4      4.0  four        4
   5 │     5      5.0  five        5

In [9]:
f(df);

a = [1, 2, 3, 4, 5]
b = [1.0, 2.0, 3.0, 4.0, 5.0]
c = ["one", "two", "three", "four", "five"]
d = UInt8[0x01, 0x02, 0x03, 0x04, 0x05]

In [10]:
@show nt;

nt = (a = 1, b = 2.0, c = "three", d = 0x04)

In [11]:
typeof(nt)

NamedTuple{(:a, :b, :c, :d), Tuple{Int64, Float64, String, UInt8}}

In [12]:
dump(nt)

NamedTuple{(:a, :b, :c, :d), Tuple{Int64, Float64, String, UInt8}}
  a: Int64 1
  b: Float64 2.0
  c: String "three"
  d: UInt8 0x04

In [13]:
@show foo;

foo = Foo{Int64, Float64, String, UInt8}(1, 2.0, "three", 0x04)

In [14]:
dump(foo)

Foo{Int64, Float64, String, UInt8}
  a: Int64 1
  b: Float64 2.0
  c: String "three"
  d: UInt8 0x04

In [15]:
g(x::NamedTuple{(:a, :b, :c, :d)}) = @show x
g(x::NamedTuple{(:a, :b, :c)}) = @show x

g (generic function with 2 methods)

In [16]:
g(nt)

x = (a = 1, b = 2.0, c = "three", d = 0x04)

(a = 1, b = 2.0, c = "three", d = 0x04)

In [17]:
@which g(nt)

g(x::NamedTuple{(:a, :b, :c, :d)}) in Main at In[15]:1

In [18]:
nt2 = (; a = 10, b = 20.0, c = "thirty")

(a = 10, b = 20.0, c = "thirty")

In [19]:
g(nt2)

x = (a = 10, b = 20.0, c = "thirty")

(a = 10, b = 20.0, c = "thirty")

In [20]:
@which g(nt2)

g(x::NamedTuple{(:a, :b, :c)}) in Main at In[15]:2